# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# ENV
.env.*

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example

# Java
*.class

# Spring
application-local.properties
application-local.yml
application-local.yaml

# Build
out/

# Temporary
tmp/
temp/